* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: brown;
    width: 100%;
    height: 5rem;
}

.navbarImg img {
    width: 70px;
}

.navbarIcons ul li {
    margin-right: 25px;
    color: rgb(255, 145, 0);
    font-size: 1.2rem;
}

.navbarList {
    display: none;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
    color: black;
}


/* navbar end */


/* header start */

.headerContainer {
    text-align: center;
    position: relative;
    width: 100%;
    height: 15rem;
}

.headerContainer h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    color: antiquewhite;
}

.header {
    width: 100%;
    height: 15rem;
}

.header img {
    width: 100%;
    height: 100%;
}


/* header end */


/* about us start */

.aboutUs {
    text-align: center;
    padding-top: 20px;
    line-height: 1.4;
}

.aboutUs h2 {
    font-size: 2rem;
}

.aboutUs h3 {
    font-size: 1.5rem;
}

.aboutContent {
    padding: 0 5px;
}

.aboutContent i {
    margin-top: 20px;
    font-size: 2rem;
}


/* about us end */


/* our team start */

.ourTeam {
    background-color: black;
    margin-top: 30px;
    text-align: center;
    padding: 10px;
}

.ourTeam h2 {
    padding: 10px;
    color: orange;
}

.ourTeamCard {
    width: 95%;
    margin: auto;
    border-radius: 10px 10px 0 0;
}

.ourTeamCard img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.ourTeamCard h3 {
    margin-top: 10px;
    font-size: 1.5rem;
}

.ourTeamCard p {
    margin-top: 10px;
    font-size: 1.2rem;
    padding: 0 10px;
}

.ourTeamCard .ourTeamIcons {
    margin-top: 30px;
}

.ourTeamIcons i {
    font-size: 2rem;
    margin: 10px;
    color: rgb(14, 106, 109);
}

.ourTeamCard-inner {
    border-radius: 10px 10px 0 0;
    height: 36rem;
    margin-top: 15px;
    background-color: white;
}


/* our team end */


/* gs store start */

.store {
    text-align: center;
}

.storeContent {
    margin-top: 20px;
}

.storeContent h2 {
    font-size: 2rem;
}

.storeContent p {
    margin-top: 20px;
    font-size: 1.1rem;
}

.storeContent button {
    margin-top: 20px;
    border: none;
    padding: 1rem 2rem;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
    background-color: rgb(230, 75, 75);
}

.storeImg {
    padding-top: 20px;
    width: 90%;
    margin: auto;
}

.storeImg img {
    width: 100%;
}


/* gs store end */


/* gallery start */

.gallery {
    margin-top: 30px;
    background-color: black;
}

.gallery h2 {
    font-size: 2rem;
    color: orange;
}

.galleryContent {
    border-radius: 10px;
}

.galleryImg {
    border-radius: 10px;
    padding: 10px;
}

.galleryImg img {
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
}


/* gallery end */


/* contact start */

.contact h2 {
    font-size: 2rem;
}


/* contact end */


/* form start */


/* form end */


/* footer img start */

.footerImg {
    padding: 10px;
    border-radius: 10px;
}

.footerImg img {
    margin-top: 30px;
    width: 100%;
    border-radius: 10px;
}


/* footer img end */


/* footer start */

footer i {
    margin: 10px;
}

.arrowUp {
    font-size: 2rem;
    color: rgb(211, 88, 88);
    position: fixed;
    right: 15px;
    bottom: 10px;
}


/* footer end */