* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  background-color: #ddd;
}

/*  header started  */

.header {
  position: relative;
  background-image: linear-gradient(rgba(3, 19, 165, 0.2), rgba(1, 4, 44, 0.6)),
    url(hotel.jpg);
  background-position: center;
  background-size: cover;
  height: 80vh;
  width: 100%;
}

.logo {
  background-color: #dddddd63;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.logo img {
  width: 48px;
}

.logo span {
  font-size: 2rem;
}

/*  navbar started  */

.navbar {
  text-align: center;
}

.navbar ul li {
  list-style-type: none;
  margin-top: 15px;
  font-size: 1.2rem;
}

.navbar ul li a {
  text-decoration: none;
  color: #fff;
}

.navbar li span {
  display: block;
  width: 0%;
  background-color: rgb(192, 10, 10);
  margin: auto;
  height: 2px;
  transition: all 0.5s;
}

h1 {
  width: 100%;
  bottom: 40px;
  position: absolute;
  text-align: center;
  font-size: 3rem;
  color: #fff;
}

/* map started */

.map {
  width: 80%;
  margin: 20px auto;
}

/* contact started */

.contact {
  width: 80%;
  margin: auto;
}

.contact div {
  padding-top: 15px;
}

.contact i {
  color: red;
  font-size: 1.7rem;
}

.contact a {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
}

.short-text {
  padding-top: 10px;
  font-size: 1.3rem;
}

.email-span {
  font-size: 1.3rem;
}

/* form started */

.form {
  width: 80%;
  margin: auto;
}

.form div {
  width: 100%;
}

.form input {
  width: 100%;
  margin-top: 15px;
  height: 30px;
  padding: 5px;
}

.form textarea {
  width: 100%;
  margin-top: 15px;
  padding: 5px;
}

.form a {
  text-align: center;
  padding: 8px;
  width: 100px;
  display: inline-block;
  margin-top: 15px;
  text-decoration: none;
  color: black;
  border: 1px solid red;
  background-color: #fafafa;
}

.form a:hover {
  background-color: rgb(230, 83, 83);
  color: #fff;
}

/* about us started */

.about {
  width: 80%;
  margin: auto;
}

.about h3 {
  text-align: center;
  font-size: 1.7rem;
  margin: 20px 0;
}

.about p {
  text-align: center;
  padding: 20px;
  line-height: 1.3;
  font-size: 1.1rem;
}

.icons {
  text-align: center;
}

.icons i {
  margin: 10px 10px;
  font-size: 1.8rem;
  color: red;
}

.about .span {
  margin: 10px auto;
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .header-flex {
    background-color: #ddddddd5;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    background-color: unset;
  }
  .navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-right: 20px;
  }
  .navbar li {
    margin: 0 0 15px;
    font-weight: bold;
  }
  .navbar ul li a {
    font-size: 1.4rem;
    color: black;
  }
  .navbar li:hover span {
    width: 100%;
  }
  .contact-flex {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contact {
    margin-top: 0;
  }
  .about h3 {
    margin-top: 45px;
    font-size: 2rem;
  }
  .about p {
    font-size: 1.3rem;
  }
  .form div {
    width: 60%;
    margin: auto;
  }
  .contact {
    padding-left: 80px;
  }
  .form {
    width: 100%;
  }
}
